body{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F6F6F6;
    color: #859197;
}
footer{
    display: grid;
    grid-template-columns: 60% 20% 20%;
    width: 100%;
    max-width: 1200px;
    margin: 5px 5% auto;
    overflow: hidden;
}
footer .address{
    margin: 10px 2%;
    text-align: justify;
    float: left;
}
footer .link{
    padding: 0 1.5em;
    margin: 10px 2%;
    float: left;
}
footer .work{
    margin: 10px 2%;
    float: left;
}
.copyright{
    padding: 0.5em;
    max-width: 100%;
    text-align: center;
    background-color: #ECECEC;
}
footer h2{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.work a{
    width: 45px;
    height: 45px;
    background: #F6F6F6;
    color: #859197;
    text-decoration: none;
    transition: 0.3s all;
}
footer a{  
    color: #859197;
    text-decoration: none;
}
ul{
    margin-left: -40px;
    list-style-type: none;
}
li{
    padding: 6px;
}

@media (max-width: 1300px){
    footer{
        display: grid;
        grid-template-columns: 70% 30%;
        width: 100%;
        max-width: 1200px;
        margin: 5px 5% auto;
        overflow: hidden;
    }
}

@media (max-width: 700px){
    footer{
        display: grid;
        grid-template-columns: 90%;
        width: 100%;
        max-width: 1200px;
        margin: 5px 5% auto;
        overflow: hidden;
    }
    
    footer .link{
        padding: 0;
    }
}